body {
    /* background-image: url("images.jpeg");*/
    background-repeat: no-repeat;
}

.design>h1 {
    background-color: red;
}

.design>p {
    /*border-style: solid;*/
    border-width: 2px 1px 4px 3px;
    border-color: yellowgreen;
    border-top-style: double;
    border-bottom-style: solid;
}